sandbox/sandbox-parent/sandbox-webservices/src/test/resources/xsd/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://webservice.sandbox.ivj.br/">

	<xs:complexType name="book">
		<xs:sequence>
			<xs:element name="author" type="xs:string" minOccurs="0" />
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="title" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>